Package: com.thomasfinch.nolaunchalert
Name: NoLaunchAlert
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Disable the launch alerts in all apps
Maintainer: Thomas Finch
Author: Thomas Finch
Section: Tweaks
